body {
	background: #f1f1f1;
	font-family: Verdana;
}

input {
	margin: 5px 3px;
	padding: 5px;
	border: none;
	color: #ffffff;
	background-color: #c2c2c2;
}

i.material-icons {
	width: 16px;
	height: 16px;
	display:inline-block;
	text-align: center;
	background-color: #c2c2c2;
	color: #525252;
	font-style: normal;
	cursor: pointer;
}

i.material-icons:hover {
	color: #ffffff;
}


i.material-icons.close {
	font-size: 16px;
	border-radius: 2px;
	padding: 3px 3px;
	margin: 0px 0px 0px 6px;
}

i.material-icons.close:hover {
	background-color: #b7410e; /*rust*/
}

i.material-icons.create {
	position: relative;
	top: 4px;
	font-size: 17px;
	border-radius: 11px;
	padding: 3px 4px 4px 3px;
	margin: 0px 0px 0px 2px;
}

i.material-icons.create:hover {
	background-color: #2c493f /*evergreen*/
}

.list-heading {
	height: 0px;
	width: 100%;
}

.search-field {
	width: calc(100% - 15px);
}

.entry-field {
	width: calc(100% - 43px);
}


.list-holder {
	max-width:500px;
}

.list-title {
	margin: 8px 5px;
	font-weight: 700;
	font-size: 16px;
}

.movie-list {
	background: #ffffff;
	margin: 15px 10px;
	padding: 5px;
}

.list-item {
	display:block;
	margin: 5px 3px;
	font-weight: 200;
	font-size: 13px;
}

.list-item span {
	float:left;
	width: calc(100% - 38px);
	display: inline-block;
	padding: 3px 5px;
	background: #efefef;
}

.list-item span:hover {
	cursor: pointer;
	background: #a9a9a9;
}

